# directories
.vscode/
.settings/
doc/
html/
man/

# supplemental files
.cproject
.dependencies*
.doc*
.project
apply-patches.sh
*.BASE
*.LOCAL
*.REMOTE
*~
*.bak
*.code-workspace
*.new
*.old
*.orig
*.rej
*.sav
*.tgz
*.tmp

# build results
MANUAL
MANUAL.DE
README
README.DE
createcats
*.a
*.mo
*.o
*.pot
*.so
